/* weboldal kinézete */

.cim{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
}    
p{
    color: white;
}

/* sakktábla felállítása */

.sakkmezo{
    border: 1.5px solid black;
    padding: 0px;
    
}
.feketemezo{
    background-color: rgb(43, 139, 72);

}
.fehermezo{
    background-color: beige;
}
table{
    border-collapse: collapse;
    text-align: center;
}
.chessboard .pieced{
    padding: 2px;
}
.piece{
    height: 27px;
    width: 25px;
    margin: 0px;
}
.gyalog{
    width: 19px !important;
    height: 23px !important;
}
td{
    width: 25px;
    height: 30px;
}


/* sakktábla vége */

body{
    background-image: url('Hatterkep.png');
    padding-left:75px;
    padding-right:75px;
}
.tartalom{
    background-image: url('Hatterkep2.png');
    padding-left: 50px;
    padding-right: 50px;
}
.enabled{
    cursor: pointer;
    pointer-events: all !important;
}